.Tilt {
  background: linear-gradient(89deg, #04C8DE 0%, #FF5EDF 100%);
  height: 70px;
  width: 70px; 
  z-index: 3;
}

@media screen and (min-width: 30em){
  .Tilt{
    height: 100px;
    width: 100px;
  }
}